body{
  margin:0;
  background-color:White;
}
/*Menu Bar */
.logobar{
  position:fixed;
  border-bottom-width:thick;
  border-bottom-style:solid;
  border-bottom-color:#22A7F0;
  /* background-color:White; */
  background-color:#EEEEEE;
  width:100vw;
  height:10vh;
  display:-webkit-inline-box;
}
.logoutbutton{
  line-height:10vh;
  font-size:20pt;
  float:right;
  text-decoration:none;
  font-weight:bold;
  color:Black;
}
.logoutbutton:hover{
  background-color:DarkGrey;
  transition:.5s;
}
#Menu{
  background-color:#202020;
  position:fixed;
  height:100vw;
}
.button{
    display:block;
    width:15vw;
    height:10vh;
    text-align:left;
    text-indent:5vw;
    text-decoration:none;
    font-weight:bold;
    border-bottom-style:solid;
    border-bottom-width:thin;
    border-color:#d9e0e7;
    color:White;
    font-size:16pt;
    line-height:10vh;
}
.button:hover{
  background-color:LightGrey;
  transition: 0.5s;
}
#block1{
  width:8em;
  height:4em;
  background-color:Black;
}
.blocks{
  display:-webkit-inline-box;
  margin-top:10vh;
  width:inherit;
}
#otherlinks{
  text-align:left;
  text-indent:1vw;
  margin-top:40vh;
  text-decoration:none;
}
/*Clubs*/
#Box{
  background-color:White;
  height:15vw;
  width:10vw;
  border-style:solid;
  border-color:Grey;
  border-width:medium;
  text-align:center;
  margin-left:5vw;
  margin-top:5vh;
  font-size:1em;
}
#CreateBox{
  background-color:#22A7F0;
  text-decoration:none;
  text-align:center;
  color:Black;
  width:10vw;
  height:10vw;
  margin-left:5vw;
  margin-top:10vh;
  border-radius:100%;
}
#CreateBox:hover{
  opacity:.5;
  transition: 0.5s;
}
#Clubs{
  display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
  width:80vw;
  height:stretch;
  /* background-color:#EEEEEE; */
  background-color:White;
  margin-top:0;
  margin-left:15vw;
}
h1 {
  font-size:1em;
}
#clubicon{
  width:8vw;
  height:6.236vw;
  margin-bottom:2vw;
}
.viewbutton{
  padding-left:20pt;
  padding-right:20pt;
  padding-top:10pt;
  padding-bottom:10pt;
  text-decoration:none;
  color:Black;
  font-weight:bold;
  font-size:14pt;
  margin-top:50vw;
  background-color:#22A7F0;
}
.viewbutton:hover{
  opacity:.5;
  transition: 0.5s;
}
/*Club Details*/
#clubinfo{
  margin-left:15vw;
  width:85vw;
  height:100vh;
  /* background-color:#EEEEEE; */
  background-color:White;
}
.clubstuff{
  display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}
#bottommenu{
  width:20vw;
  height:80vh;
  position:relative;
  text-align:center;
  display: block;
}
.bottombutton{
  text-decoration:none;
  color:Black;
  font-weight:bold;
  margin-top:5vh;
  padding:2vh;

}

/*Front page*/
.front{
  background-image:url("cover.jpeg");
  background-size:cover;
  text-align:center;
  color:White;
}
.btn{
  width:10vw;
  height:5vw;
  border-style:solid;
  border-width:medium;
  color:White;
  border-color:#22A7F0;
  text-decoration:none;
  padding:5pt;
  font-size:20pt;
  margin-right:.5em;
  margin-left:.5em;
}
.btn:hover{
  background-color:#22A7F0;
}
.h2{
  text-decoration:none;
  font-weight:bold;
  font-size:20pt;
  float:right;
  margin-right:2vw;
  color:#22A7F0;
  margin-top:-42vh;
}
.title{
  text-decoration:none;
  text-align:center;
  font-size:40pt;
  margin-top:45vh;
}
/* About Us Page*/
.about{
  text-align:center;
}
.bar{
  height:.5em;
  width:2em;
  background-color:Grey;
  margin-left:48%;
}

/*Creating/Editing clubs*/
#create{
width:80vw;
height:stretch;
background-color:inherit;
margin-top:0;
margin-left:20vw;
}
