{% load bootstrap3%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'clubs/style.css' %}" />
<div class="about">
<h2>WHAT WE DO</h2>
<div class = "bar"></div>
<p>
There are over a hundred clubs and organizations on campus, covering topics
spanning from art to science to social justice. As great as this is, Andover's
organization system is, well, non-existent. There is no official club database,
it is hard to find clubs once the school year starts, and it is a hassle to
manage mailing lists. We're here to change that. Club Rally is a platform that
is a database for clubs, and solves all of these problems. If you are a club
owner, you can manage mailing lists, find new members, and broadcast your clubs.
If you are a student, Club Rally helps you manage and find clubs you are
interested in. It’s fast, it’s easy, it’s necessary.
</p>
<h2>Meet The Team</h2>
<div class = "bar"></div>
<div class ="member1"></div>
<div class = "member2"></div>
</div>
