{%extends "clubs\base.html" %}
{%load static%}
{%load cache%}
{%block content%}
  <div id="Clubs" class="blocks">
  {% if club_list %}
      {% for club in club_list %}
      <div id="Box">
        <h1>{{ club.name }}</h1>
        {%if club.icon%}
        <img id = "clubicon" src="{{club.icon.url}}"></img>
        {%else%}
        <img id ="clubicon" src="{%static 'clubs/clubdefault.png'%}"></img>
        {%endif%}
        <a class = "viewbutton" href="{% url 'clubs:detail' club.id %}">View</a>
      </div>
      {% endfor %}
  {% else %}
    <p> No clubs have been created.</p>
  {% endif %}
  </div>
</div>
{%endblock%}
