{%extends "clubs\base.html" %}
{%load static%}
{%block content%}
  <div class="block" id="clubinfo">
    <h1 style="text-align:center;font-size:4em;text-decoration:underline">{{club.name}}</h1>
    <div class="clubstuff">
      <div id="bottommenu">
        {%if inclub%}
        <a href="{% url 'clubs:leave' club.id %}" class="bottombutton" style="background-color:#22A7F0;;">Leave</a>
        {%else%}
        <a href="{% url 'clubs:join' club.id %}" class="bottombutton" style="background-color:#22A7F0;;">Join</a>
        {%endif%}
        <a href="{%url 'clubs:edit' club.id %}" class="bottombutton" style="background-color:#22A7F0;">Edit club</a>
        <a href="{%url 'clubs:announcements' club.id %}" class="bottombutton" style="background-color:#22A7F0;">Announcements</a>
        <a href="{%}">Mailing List</a>
        <a href=""></a>
      </div>
      <div id="description">{{club.description}}</div>
      <div class="info">
        <h2>Co-Presidents</h2>
        {%if club.presidents%}
        <ul>
          {%for president in club.presidents.all%}
          <li>{{president}}</li>
          {%endfor%}
        </ul>
        {%endif%}
        <h2>Board</h2>
        {%if club.board%}
        <ul>
          {%for person in club.board.all%}
          <li> {{person}} </li>
          {% endfor %}
        </ul>
        {%else%}
        This club doesn't currently have any board members. ;(
        {%endif%}
        <h2>Club Members</h2>
        {%if club.members%}
        <ul>
          {%for person in club.memberList.all%}
          <li> {{person}} </li>
          {% endfor %}
        </ul>
        {%else%}
        This club doesn't currently have any members. ;(
        {%endif%}
      </div>
    </div>
{%endblock%}
