{% load bootstrap3%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'clubs/style.css' %}" />
<div class="logobar">
  <h2>ClubRallyV2</h2>
  <a href="{%url 'logout' %}" class="logoutbutton">Logout</a>
</div>
<div class="blocks">
  <div class="block" id = "Menu">
    <a href="{%url 'home'%}" class="button">My Clubs</a>
    <a href="{%url 'clubs:index' %}" class="button"> Search Clubs</a>
    <a href='' class="button"> Calendar</a>
    <a href='' class="button"> Settings</a>
    <div id="otherlinks">
      <ul style="list-style-type: none;-webkit-padding-start:0px;">
        <li style="-webkit-padding-start:0px;"><a href="https://github.com/hturner08/ClubRallyV2" style="text-decoration:none;color:White;font-weight:bold;">Repository</a></li>
        <li style="-webkit-padding-start:0px;"><a href="{%url 'aboutus'%}" style="text-decoration:none;color:White;font-weight:bold;">About us</a></li>
        <li style="-webkit-padding-start:0px;"><a href="{%url 'aboutus' %}" style="text-decoration:none;color:White;font-weight:bold;">News</a></li>
      </ul>
    </div>
  </div>
  <div class="block" id="clubinfo">
    <h1 style="text-align:center">{{club.name}}</h1>
    <div class="clubstuff">
      <div id="description">{{club.description}}</div>
      <div class="info">
        <h2>Co-Presidents</h2>
        {%if club.presidents%}
        <ul>
          {%for president in club.presidents.all%}
          <li>{{president}}</li>
          {%endfor%}
        </ul>
        {%endif%}
        <h2>Board</h2>
        {%if club.board%}
        <ul>
          {%for person in club.board.all%}
          <li> {{person}} </li>
          {% endfor %}
        </ul>
        {%else%}
        This club doesn't currently have any board members. ;(
        {%endif%}
        <h2>Club Members</h2>
        {%if club.members%}
        <ul>
          {%for person in club.memberList.all%}
          <li> {{person}} </li>
          {% endfor %}
        </ul>
        {%else%}
        This club doesn't currently have any members. ;(
        {%endif%}
      </div>
      <div id="bottommenu">
        {%if inclub%}
        <a href="{% url 'clubs:leave' club.id %}" class="bottombutton" style="background-color:Blue;">Leave</a>
        {%else%}
        <a href="{% url 'clubs:join' club.id %}" class="bottombutton" style="background-color:Blue;">Join</a>
        {%endif%}
        <a href="{%url 'clubs:edit' club.id %}" class="bottombutton" style="background-color:Red">Edit club</a>
        <a href="{%url 'clubs:announcements' club.id %}" class="bottombutton" style="background-color:Green">Announcements</a>
      </div>
    </div>
  </div>
