{% load bootstrap3%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'clubs/style.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="logobar">
  <h2>ClubRallyV2</h2>
  <a href="{%url 'logout' %}" class="logoutbutton">Logout</a>
</div>
<div class="blocks">
  <div class="block" id = "Menu">
    <a href="{%url 'home'%}" class="button">My Clubs</a>
    <a href="{%url 'clubs:index' %}" class="button"> Search Clubs</a>
    <a href='' class="button"> Calendar</a>
    <a href='' class="button"> Settings</a>
    <div id="otherlinks">
      <ul style="list-style-type: none;-webkit-padding-start:0px;">
        <li style="-webkit-padding-start:0px;"><a href="https://github.com/hturner08/ClubRallyV2" style="text-decoration:none;color:White;font-weight:bold;">Repository</a></li>
        <li style="-webkit-padding-start:0px;"><a href="{%url 'aboutus'%}" style="text-decoration:none;color:White;font-weight:bold;">About us</a></li>
        <li style="-webkit-padding-start:0px;"><a href="{%url 'aboutus' %}" style="text-decoration:none;color:White;font-weight:bold;">News</a></li>
      </ul>
    </div>
  </div>
  <div id="Clubs" class="blocks">
  {% if club_list %}
      {% for club in club_list %}
      <div id="Box">
        <h1>{{ club.name }}</h1>
        <a class = "viewbutton" href="{% url 'clubs:detail' club.id %}">View</a>
      </div>
      {% endfor %}
  {% else %}
    <p> No clubs have been created.</p>
  {% endif %}
  </div>
</div>
